# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [1]:
import pandas as pd
import numpy as np

dataframe1_1 = pd.DataFrame(np.random.randint(1,100,size=(6,4)), columns=['A','B','C','D'])
print(dataframe1_1)

# Set the index to be the first column
dataframe1_1.set_index('A',inplace=True)
print(dataframe1_1)

    A   B   C   D
0   2  97   8  67
1  22  95  16  53
2  67   6   2  24
3  85   9   4  50
4  77  33  43  85
5   6  30  43  95
     B   C   D
A
2   97   8  67
22  95  16  53
67   6   2  24
85   9   4  50
77  33  43  85
6   30  43  95

In [2]:
# Set the index to 'X' 'Y' 'Z'
dataframe1_2 = pd.DataFrame(np.random.randint(1,100,size=(3,3)),columns=['A','B','C'],index=['X','Y','Z'])
print(dataframe1_2)

# element at y row and b column
element = dataframe1_2.at['Y','B']
print("Element at Y th row and B th column : ",element)

    A   B   C
X  78  47  99
Y  76  11  67
Z  71  80  28
Element at Y th row and B th column :  11

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [3]:
df2_1 = pd.DataFrame(np.random.randint(1,100, size=(5,3)), columns=['A','B','C'])

print("Original Dataframe : ")
print(df2_1)

df2_1['D'] = df2_1['B'] * df2_1['C']
print("Product added Dataframe : ")
print(df2_1)

Original Dataframe :
    A   B   C
0  94  85  71
1  48  65  84
2  47  25  75
3  96  90  32
4  57  28  61
Product added Dataframe :
    A   B   C     D
0  94  85  71  6035
1  48  65  84  5460
2  47  25  75  1875
3  96  90  32  2880
4  57  28  61  1708

In [4]:
df2_2 = pd.DataFrame(np.random.randint(1,100, size=(4,3)), columns=['A','B','C'])

print("Original Dataframe : ")
print(df2_2)

column_wise_sum = df2_2.sum(axis=0)
print(f"Column wise sum : {column_wise_sum}")

row_wise_sum = df2_2.sum(axis=1)
print(f"Row wise sum : {row_wise_sum}")

Original Dataframe :
    A   B   C
0  48  11  36
1  11  74  46
2  34  88  17
3  24  52  78
Column wise sum : A    117
B    225
C    177
dtype: int64
Row wise sum : 0     95
1    131
2    139
3    154
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [5]:
ses = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [10,11,12],
    [13,14,15]
]

df3 = pd.DataFrame(ses,columns=['A','B','C'])

# introducing NaN to data
df3.iloc[0,2] = np.nan
df3.iloc[2,1] = np.nan
df3.iloc[3,1] = np.nan
df3.iloc[4,2] = np.nan

print("Original DataFram with NaN")
print(df3)

df3.fillna(df3.mean(),inplace=True)
print("Dataframe Nan replaced with mean value")
print(df3)

Original DataFram with NaN
    A     B     C
0   1   2.0   NaN
1   4   5.0   6.0
2   7   NaN   9.0
3  10   NaN  12.0
4  13  14.0   NaN
Dataframe Nan replaced with mean value
    A     B     C
0   1   2.0   9.0
1   4   5.0   6.0
2   7   7.0   9.0
3  10   7.0  12.0
4  13  14.0   9.0

In [6]:
df3_2 = pd.DataFrame(np.random.randint(1,100,size=(6,4)), columns=['A','B','C','D'])
print("Original Dataframe")
print(df3_2)

# filling some entries with NaN values
df3_2.iloc[1,3] = np.nan
df3_2.iloc[4,2] = np.nan

print("Dataframe with NaN")
print(df3_2)

print("Removed Rows with NaN")
df3_2.dropna(axis=0,inplace=True)
print(df3_2)

Original Dataframe
    A   B   C   D
0  26  41   7  88
1  15  62  20  90
2  27  12  35   5
3  52   3  24  68
4  60  34  56   3
5  81  39  12  54
Dataframe with NaN
    A   B     C     D
0  26  41   7.0  88.0
1  15  62  20.0   NaN
2  27  12  35.0   5.0
3  52   3  24.0  68.0
4  60  34   NaN   3.0
5  81  39  12.0  54.0
Removed Rows with NaN
    A   B     C     D
0  26  41   7.0  88.0
2  27  12  35.0   5.0
3  52   3  24.0  68.0
5  81  39  12.0  54.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [7]:
df4 = pd.DataFrame({'Category' : np.random.choice(['A','B','C'],size=10), 'Value' : np.random.randint(1,100,size=10)})

print(df4)

df4_sum = df4.groupby('Category')['Value'].agg(['sum','mean'])
print(df4_sum)

  Category  Value
0        A     63
1        A     34
2        C     47
3        C     52
4        C     42
5        C      3
6        B     78
7        C      7
8        C     51
9        B     71
          sum       mean
Category
A          97  48.500000
B         149  74.500000
C         202  33.666667

In [8]:
df4_2 =pd.DataFrame({'Product': np.random.choice(['Prod1','Prod2','Prod3'],size=10), 'Category': np.random.choice(['A','B','C'],size=10), 'Sales': np.random.randint(1,100,size=10)})
print(df4_2)
df4_2_group = df4_2.groupby('Category')['Sales'].agg(['sum'])
print(df4_2_group)

  Product Category  Sales
0   Prod1        B     16
1   Prod2        A     69
2   Prod3        B     99
3   Prod1        C     94
4   Prod1        A     85
5   Prod3        A     94
6   Prod2        C     81
7   Prod1        C     25
8   Prod2        C     29
9   Prod2        C     36
          sum
Category
A         248
B         115
C         265

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [9]:
df5_1 = pd.DataFrame(np.random.randint(1,100,size=(5,5)), columns=['A','B','C','D','E'])
df5_2 = pd.DataFrame(np.random.randint(1,100,size=(5,5)), columns=['E','F','G','H','I'])
print("Original Dataframe")
print(df5_1)
print(df5_2)
merge_df = pd.merge(df5_1,df5_2,on='E',how='inner')
print(merge_df)

Original Dataframe
    A   B   C   D   E
0  91  97   5  25   7
1  88  58  42  23  16
2  16  52  83  69  53
3   8  95  81  96  44
4  56  95  47  24  41
    E   F   G   H   I
0  49  48   5  58  95
1   1  62  12  29  80
2  44  80  34  82  78
3  46   5  12  35   4
4  39  60  61  54  31
   A   B   C   D   E   F   G   H   I
0  8  95  81  96  44  80  34  82  78

In [10]:
df5_3 = pd.DataFrame(np.random.randint(1,100,size=(5,5)), columns=['A','B','C','D','E'])
df5_4 = pd.DataFrame(np.random.randint(1,100,size=(5,5)), columns=['F','G','H','I','J'])
print("Original Dataframe : ")
print(df5_3)
print(df5_4)

# Concatenate the DataFrames along the columns
print("Concating the above two dataframes column wise : ")
df5_5 = pd.concat([df5_3,df5_4], axis=1)
print(df5_5)

# Concatenate the DataFrames along the rows
print("Concating the above two dataframes row wise : ")
df5_6 = pd.concat([df5_3,df5_4], axis=0)
print(df5_6)

Original Dataframe :
    A   B   C   D   E
0  21  85   4  17  97
1  28  72  55  50  83
2  11   8  88  23  77
3   3  46  44   3  11
4  79  76   5  30  39
    F   G   H   I   J
0  84  63  32  26  39
1  16  41  32  49  78
2  93   4   2  79  96
3  72  11  27  88  56
4  65  91  57   5  89
Concating the above two dataframes column wise :
    A   B   C   D   E   F   G   H   I   J
0  21  85   4  17  97  84  63  32  26  39
1  28  72  55  50  83  16  41  32  49  78
2  11   8  88  23  77  93   4   2  79  96
3   3  46  44   3  11  72  11  27  88  56
4  79  76   5  30  39  65  91  57   5  89
Concating the above two dataframes row wise :
      A     B     C     D     E     F     G     H     I     J
0  21.0  85.0   4.0  17.0  97.0   NaN   NaN   NaN   NaN   NaN
1  28.0  72.0  55.0  50.0  83.0   NaN   NaN   NaN   NaN   NaN
2  11.0   8.0  88.0  23.0  77.0   NaN   NaN   NaN   NaN   NaN
3   3.0  46.0  44.0   3.0  11.0   NaN   NaN   NaN   NaN   NaN
4  79.0  76.0   5.0  30.0  39.0   NaN   NaN   NaN   NaN   NaN
0   NaN   NaN   NaN   NaN   NaN  84.0  63.0  32.0  26.0  39.0
1   NaN   NaN   NaN   NaN   NaN  16.0  41.0  32.0  49.0  78.0
2   NaN   NaN   NaN   NaN   NaN  93.0   4.0   2.0  79.0  96.0
3   NaN   NaN   NaN   NaN   NaN  72.0  11.0  27.0  88.0  56.0
4   NaN   NaN   NaN   NaN   NaN  65.0  91.0  57.0   5.0  89.0

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [11]:
date_rng = pd.date_range(start='2025-02-12',end='2025-12-23',freq='D')

df = pd.DataFrame(date_rng,columns=['date'])

df['value'] = np.random.randint(100,1000,size=(len(date_rng)))
df.set_index('date',inplace=True)
print("Original Dataframe")
print(df)

#Resample the dataframe
df_resample = df.resample('ME').mean()
print("Monthly mean Dataframe")
print(df_resample)

Original Dataframe
            value
date
2025-02-12    592
2025-02-13    205
2025-02-14    635
2025-02-15    374
2025-02-16    158
...           ...
2025-12-19    487
2025-12-20    143
2025-12-21    658
2025-12-22    841
2025-12-23    880

[315 rows x 1 columns]
Monthly mean Dataframe
                 value
date
2025-02-28  522.352941
2025-03-31  564.322581
2025-04-30  463.933333
2025-05-31  517.774194
2025-06-30  569.733333
2025-07-31  551.903226
2025-08-31  620.096774
2025-09-30  568.966667
2025-10-31  515.645161
2025-11-30  528.166667
2025-12-31  528.130435

In [12]:
date_rng = pd.date_range(start='2021-01-01',end='2021-12-31',freq='D')
df = pd.DataFrame(date_rng,columns=['date'])
df['value'] = np.random.randint(10,200,size=(len(date_rng)))
df.set_index('date',inplace=True)
print("Original Dataframe : ")
print(df)

#Calculating the rolling mean with a window of 7 days
df['rolling-mean-7'] = df['value'].rolling(window=7).mean()
print("Dataframe with rolling mean for window of 7 days")
print(df)

Original Dataframe :
            value
date
2021-01-01    199
2021-01-02     28
2021-01-03    128
2021-01-04     47
2021-01-05    152
...           ...
2021-12-27    164
2021-12-28     59
2021-12-29    153
2021-12-30     18
2021-12-31     23

[365 rows x 1 columns]
Dataframe with rolling mean for window of 7 days
            value  rolling-mean-7
date
2021-01-01    199             NaN
2021-01-02     28             NaN
2021-01-03    128             NaN
2021-01-04     47             NaN
2021-01-05    152             NaN
...           ...             ...
2021-12-27    164       59.428571
2021-12-28     59       59.571429
2021-12-29    153       70.714286
2021-12-30     18       70.714286
2021-12-31     23       71.857143

[365 rows x 2 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [13]:
arrays = [['A','A','B','B'],['one','two','one','two']]
index = pd.MultiIndex.from_arrays(arrays,names=("Category","Subcategory"))
df = pd.DataFrame(np.random.randint(1,100,size=(4,3)),index=index,columns=['value1','value2','value3'])
print(df)

# performing basic indexing on above dataframe
print("Indexing on category A")
print(df.loc['A'])

print("Slicing at category 'B' and subcategory 'two'")
print(df.loc[('B','two')])

                      value1  value2  value3
Category Subcategory
A        one               2      72      39
         two               8      72      69
B        one              36      44      66
         two              71       8      38
Indexing on category A
             value1  value2  value3
Subcategory
one               2      72      39
two               8      72      69
Slicing at category 'B' and subcategory 'two'
value1    71
value2     8
value3    38
Name: (B, two), dtype: int32

In [14]:
arrays = [['A','A','B','B','C','C'],['one','two','one','two','one','two']]
index = pd.MultiIndex.from_arrays(arrays,names=("Category","Subcategory"))
df = pd.DataFrame(np.random.randint(1,100,size=(6,4)),index=index,columns=['value1','value2','value3','value4'])
print(df)

print("Category wise sum :")
sum_category = df.groupby("Subcategory").sum()
print(sum_category)

                      value1  value2  value3  value4
Category Subcategory
A        one              68      80       5      40
         two              48       3       6      26
B        one              81      67      26      84
         two              11      82      10      41
C        one              94      93      18      48
         two              48      59      27      49
Category wise sum :
             value1  value2  value3  value4
Subcategory
one             243     240      49     172
two             107     144      43     116

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [15]:
date_rng = pd.date_range(start='2026-2-12',end='2026-10-1',freq='D')
df = pd.DataFrame({"Date" : np.random.choice(date_rng,size=20)
                   , "Category" : np.random.choice(['A','B','C','D'],size=20)
                   , "Value" : np.random.randint(10,100,size=20)
                   })
df.set_index('Date',inplace=True)
print("Original Dataframe :")
print(df)

print("Pivot table to compute sum of Value for each Category by Date")
category_wise_sum = df.pivot_table(values='Value',index='Date',columns='Category',aggfunc='sum')
print(category_wise_sum)

Original Dataframe :
           Category  Value
Date
2026-06-22        D     72
2026-05-14        C     43
2026-09-10        A     57
2026-05-13        B     18
2026-08-30        B     44
2026-06-16        C     87
2026-04-01        A     40
2026-07-31        C     16
2026-08-08        C     67
2026-09-16        B     71
2026-09-12        A     56
2026-03-08        A     32
2026-02-20        C     97
2026-04-30        C     85
2026-05-28        A     15
2026-08-22        D     46
2026-06-15        B     99
2026-02-16        B     85
2026-04-10        D     75
2026-02-19        D     81
Pivot table to compute sum of Value for each Category by Date
Category       A     B     C     D
Date
2026-02-16   NaN  85.0   NaN   NaN
2026-02-19   NaN   NaN   NaN  81.0
2026-02-20   NaN   NaN  97.0   NaN
2026-03-08  32.0   NaN   NaN   NaN
2026-04-01  40.0   NaN   NaN   NaN
2026-04-10   NaN   NaN   NaN  75.0
2026-04-30   NaN   NaN  85.0   NaN
2026-05-13   NaN  18.0   NaN   NaN
2026-05-14   NaN   NaN  43.0   NaN
2026-05-28  15.0   NaN   NaN   NaN
2026-06-15   NaN  99.0   NaN   NaN
2026-06-16   NaN   NaN  87.0   NaN
2026-06-22   NaN   NaN   NaN  72.0
2026-07-31   NaN   NaN  16.0   NaN
2026-08-08   NaN   NaN  67.0   NaN
2026-08-22   NaN   NaN   NaN  46.0
2026-08-30   NaN  44.0   NaN   NaN
2026-09-10  57.0   NaN   NaN   NaN
2026-09-12  56.0   NaN   NaN   NaN
2026-09-16   NaN  71.0   NaN   NaN

In [16]:
yr_rng = pd.Series([2022,2020,2021])
df = pd.DataFrame({"Year" : np.random.choice(yr_rng,size=10)
                   , "Quater" : np.random.choice(['Q1','Q2','Q2','Q4'],size=10)
                   , "Revenue" : np.random.randint(100,10000,size=10)
                   })

print(df)

print("Pivot Table : ")
pivot_table_revenue = df.pivot_table(values='Revenue',index='Year',columns='Quater',aggfunc='mean')
print(pivot_table_revenue)

   Year Quater  Revenue
0  2022     Q2     3438
1  2022     Q1     7740
2  2020     Q2     5328
3  2022     Q4      141
4  2021     Q2     6886
5  2020     Q2      827
6  2020     Q1     7473
7  2020     Q1     5543
8  2020     Q4     5504
9  2022     Q4     1497
Pivot Table :
Quater      Q1      Q2      Q4
Year
2020    6508.0  3077.5  5504.0
2021       NaN  6886.0     NaN
2022    7740.0  3438.0   819.0

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [17]:
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)))
print("Original Dataframe : ")
print(df)
df = df.map(lambda a : a*2)
print(df)

Original Dataframe :
    0   1   2
0  25  44  52
1  75  65  55
2  97  19  85
3  74  78  41
4   1  97  28
     0    1    2
0   50   88  104
1  150  130  110
2  194   38  170
3  148  156   82
4    2  194   56

In [18]:
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)))
print("Original Dataframe : ")
print(df)
df["sum"] = df.apply(lambda e : e.sum(), axis=1)
print(df)

Original Dataframe :
    0   1   2
0  62   7  57
1  85  52  55
2  63  84  88
3  38  81  81
4  49  92  74
    0   1   2  sum
0  62   7  57  126
1  85  52  55  192
2  63  84  88  235
3  38  81  81  200
4  49  92  74  215

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [26]:
srs = pd.Series(["rish","singh","shivam","patel","yash"])
print("Original Series")
print(srs)

print("Modified Series")
srs2 = srs.map(lambda item : item.upper())
print(srs2)

Original Series
0      rish
1     singh
2    shivam
3     patel
4      yash
dtype: object
Modified Series
0      RISH
1     SINGH
2    SHIVAM
3     PATEL
4      YASH
dtype: object

In [27]:
srs = pd.Series(["rish","singh","shivam","patel","yash"])
print("Original Series")
print(srs)

print("Extracting first three character of each string")
srs2 = srs.map(lambda item : item[:3])
print(srs2)

Original Series
0      rish
1     singh
2    shivam
3     patel
4      yash
dtype: object
Extracting first three character of each string
0    ris
1    sin
2    shi
3    pat
4    yas
dtype: object