# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [2]:
import pandas as pd
import numpy as np

dataframe1_1 = pd.DataFrame(np.random.randint(1,100,size=(6,4)), columns=['A','B','C','D'])
print(dataframe1_1)

# Set the index to be the first column
dataframe1_1.set_index('A',inplace=True)
print(dataframe1_1)

    A   B   C   D
0  14   1  17  44
1  55  90  28  30
2  43  60  85  67
3  74  49  71  12
4  79  64   8  15
5   9  11  23  79
     B   C   D
A
14   1  17  44
55  90  28  30
43  60  85  67
74  49  71  12
79  64   8  15
9   11  23  79

In [3]:
# Set the index to 'X' 'Y' 'Z'
dataframe1_2 = pd.DataFrame(np.random.randint(1,100,size=(3,3)),columns=['A','B','C'],index=['X','Y','Z'])
print(dataframe1_2)

# element at y row and b column
element = dataframe1_2.at['Y','B']
print("Element at Y th row and B th column : ",element)

    A   B   C
X  13  36  33
Y  79  41  27
Z  92  21  67
Element at Y th row and B th column :  41

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [4]:
df2_1 = pd.DataFrame(np.random.randint(1,100, size=(5,3)), columns=['A','B','C'])

print("Original Dataframe : ")
print(df2_1)

df2_1['D'] = df2_1['B'] * df2_1['C']
print("Product added Dataframe : ")
print(df2_1)

Original Dataframe :
    A   B   C
0   7  97  29
1  51  15  87
2  13  66  42
3  56  40  45
4  33   4  69
Product added Dataframe :
    A   B   C     D
0   7  97  29  2813
1  51  15  87  1305
2  13  66  42  2772
3  56  40  45  1800
4  33   4  69   276

In [5]:
df2_2 = pd.DataFrame(np.random.randint(1,100, size=(4,3)), columns=['A','B','C'])

print("Original Dataframe : ")
print(df2_2)

column_wise_sum = df2_2.sum(axis=0)
print(f"Column wise sum : {column_wise_sum}")

row_wise_sum = df2_2.sum(axis=1)
print(f"Row wise sum : {row_wise_sum}")

Original Dataframe :
    A   B   C
0  51  46   6
1  59  24  29
2  38  37  57
3  42  68  43
Column wise sum : A    190
B    175
C    135
dtype: int64
Row wise sum : 0    103
1    112
2    132
3    153
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [6]:
ses = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [10,11,12],
    [13,14,15]
]

df3 = pd.DataFrame(ses,columns=['A','B','C'])

# introducing NaN to data
df3.iloc[0,2] = np.nan
df3.iloc[2,1] = np.nan
df3.iloc[3,1] = np.nan
df3.iloc[4,2] = np.nan

print("Original DataFram with NaN")
print(df3)

df3.fillna(df3.mean(),inplace=True)
print("Dataframe Nan replaced with mean value")
print(df3)

Original DataFram with NaN
    A     B     C
0   1   2.0   NaN
1   4   5.0   6.0
2   7   NaN   9.0
3  10   NaN  12.0
4  13  14.0   NaN
Dataframe Nan replaced with mean value
    A     B     C
0   1   2.0   9.0
1   4   5.0   6.0
2   7   7.0   9.0
3  10   7.0  12.0
4  13  14.0   9.0

In [7]:
df3_2 = pd.DataFrame(np.random.randint(1,100,size=(6,4)), columns=['A','B','C','D'])
print("Original Dataframe")
print(df3_2)

# filling some entries with NaN values
df3_2.iloc[1,3] = np.nan
df3_2.iloc[4,2] = np.nan

print("Dataframe with NaN")
print(df3_2)

print("Removed Rows with NaN")
df3_2.dropna(axis=0,inplace=True)
print(df3_2)

Original Dataframe
    A   B   C   D
0  51  62  88  49
1  35  76   5   9
2  16  76  71  26
3  36  20  69   3
4  46  52  21  20
5  56  71  97  75
Dataframe with NaN
    A   B     C     D
0  51  62  88.0  49.0
1  35  76   5.0   NaN
2  16  76  71.0  26.0
3  36  20  69.0   3.0
4  46  52   NaN  20.0
5  56  71  97.0  75.0
Removed Rows with NaN
    A   B     C     D
0  51  62  88.0  49.0
2  16  76  71.0  26.0
3  36  20  69.0   3.0
5  56  71  97.0  75.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [8]:
df4 = pd.DataFrame({'Category' : np.random.choice(['A','B','C'],size=10), 'Value' : np.random.randint(1,100,size=10)})

print(df4)

df4_sum = df4.groupby('Category')['Value'].agg(['sum','mean'])
print(df4_sum)

  Category  Value
0        A     31
1        C     81
2        B     90
3        C      4
4        B     83
5        B     98
6        C     84
7        C     46
8        B     82
9        C     13
          sum   mean
Category
A          31  31.00
B         353  88.25
C         228  45.60

In [9]:
df4_2 =pd.DataFrame({'Product': np.random.choice(['Prod1','Prod2','Prod3'],size=10), 'Category': np.random.choice(['A','B','C'],size=10), 'Sales': np.random.randint(1,100,size=10)})
print(df4_2)
df4_2_group = df4_2.groupby('Category')['Sales'].agg(['sum'])
print(df4_2_group)

  Product Category  Sales
0   Prod2        B     34
1   Prod1        C     44
2   Prod1        A     32
3   Prod1        A     24
4   Prod3        B     27
5   Prod2        A     96
6   Prod2        B     38
7   Prod2        B     79
8   Prod3        B     94
9   Prod2        B     65
          sum
Category
A         152
B         337
C          44

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [10]:
df5_1 = pd.DataFrame(np.random.randint(1,100,size=(5,5)), columns=['A','B','C','D','E'])
df5_2 = pd.DataFrame(np.random.randint(1,100,size=(5,5)), columns=['E','F','G','H','I'])
print("Original Dataframe")
print(df5_1)
print(df5_2)
merge_df = pd.merge(df5_1,df5_2,on='E',how='inner')
print(merge_df)

Original Dataframe
    A   B   C   D   E
0  16   8  96  50  16
1  31  85  41  43  86
2  59  18  94  35  86
3  74  46  14  63  77
4   1  82  66  37  67
    E   F   G   H   I
0  83  49  21  33  88
1  34   1  25  31  87
2  31  10  35  64   1
3  14  81  86  65  61
4  38  16  54  83  37
Empty DataFrame
Columns: [A, B, C, D, E, F, G, H, I]
Index: []

In [20]:
df5_3 = pd.DataFrame(np.random.randint(1,100,size=(5,5)), columns=['A','B','C','D','E'])
df5_4 = pd.DataFrame(np.random.randint(1,100,size=(5,5)), columns=['F','G','H','I','J'])
print("Original Dataframe : ")
print(df5_3)
print(df5_4)

# Concatenate the DataFrames along the columns
print("Concating the above two dataframes column wise : ")
df5_5 = pd.concat([df5_3,df5_4], axis=1)
print(df5_5)

# Concatenate the DataFrames along the rows
print("Concating the above two dataframes row wise : ")
df5_6 = pd.concat([df5_3,df5_4], axis=0)
print(df5_6)

Original Dataframe :
    A   B   C   D   E
0  96  11   1  20  55
1  56  97  18  70  11
2  50  13  90  28  83
3  52  85  27  58   9
4  93  16  94  89   9
    F   G   H   I   J
0   6  36  77  63  60
1   6  85  80  41  81
2  93  75  32  81   1
3  85  50   2  22  90
4  99  40  39   1  57
Concating the above two dataframes column wise :
    A   B   C   D   E   F   G   H   I   J
0  96  11   1  20  55   6  36  77  63  60
1  56  97  18  70  11   6  85  80  41  81
2  50  13  90  28  83  93  75  32  81   1
3  52  85  27  58   9  85  50   2  22  90
4  93  16  94  89   9  99  40  39   1  57
Concating the above two dataframes row wise :
      A     B     C     D     E     F     G     H     I     J
0  96.0  11.0   1.0  20.0  55.0   NaN   NaN   NaN   NaN   NaN
1  56.0  97.0  18.0  70.0  11.0   NaN   NaN   NaN   NaN   NaN
2  50.0  13.0  90.0  28.0  83.0   NaN   NaN   NaN   NaN   NaN
3  52.0  85.0  27.0  58.0   9.0   NaN   NaN   NaN   NaN   NaN
4  93.0  16.0  94.0  89.0   9.0   NaN   NaN   NaN   NaN   NaN
0   NaN   NaN   NaN   NaN   NaN   6.0  36.0  77.0  63.0  60.0
1   NaN   NaN   NaN   NaN   NaN   6.0  85.0  80.0  41.0  81.0
2   NaN   NaN   NaN   NaN   NaN  93.0  75.0  32.0  81.0   1.0
3   NaN   NaN   NaN   NaN   NaN  85.0  50.0   2.0  22.0  90.0
4   NaN   NaN   NaN   NaN   NaN  99.0  40.0  39.0   1.0  57.0

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [ ]:
date_rng = pd.date_range(start='2025-02-12',end='2025-12-23',freq='D')

df = pd.DataFrame(date_rng,columns=['date'])

df['value'] = np.random.randint(100,1000,size=(len(date_rng)))
df.set_index('date',inplace=True)
print("Original Dataframe")
print(df)

#Resample the dataframe
df_resample = df.resample('ME').mean()
print("Monthly mean Dataframe")
print(df_resample)

Original Dataframe
            value
date
2025-02-12    241
2025-02-13    319
2025-02-14    408
2025-02-15    150
2025-02-16    770
...           ...
2025-12-19    813
2025-12-20    226
2025-12-21    657
2025-12-22    805
2025-12-23    162

[315 rows x 1 columns]
Monthly mean Dataframe
                 value
date
2025-02-28  505.647059
2025-03-31  624.806452
2025-04-30  513.333333
2025-05-31  516.322581
2025-06-30  495.566667
2025-07-31  630.903226
2025-08-31  664.838710
2025-09-30  592.066667
2025-10-31  599.354839
2025-11-30  540.600000
2025-12-31  531.304348

In [47]:
date_rng = pd.date_range(start='2021-01-01',end='2021-12-31',freq='D')
df = pd.DataFrame(date_rng,columns=['date'])
df['value'] = np.random.randint(10,200,size=(len(date_rng)))
df.set_index('date',inplace=True)
print("Original Dataframe : ")
print(df)

#Calculating the rolling mean with a window of 7 days
df['rolling-mean-7'] = df['value'].rolling(window=7).mean()
print("Dataframe with rolling mean for window of 7 days")
print(df)

Original Dataframe :
            value
date
2021-01-01    105
2021-01-02     70
2021-01-03     22
2021-01-04    157
2021-01-05    183
...           ...
2021-12-27     42
2021-12-28    103
2021-12-29     75
2021-12-30     73
2021-12-31    197

[365 rows x 1 columns]
Dataframe with rolling mean for window of 7 days
            value  rolling-mean-7
date
2021-01-01    105             NaN
2021-01-02     70             NaN
2021-01-03     22             NaN
2021-01-04    157             NaN
2021-01-05    183             NaN
...           ...             ...
2021-12-27     42       59.428571
2021-12-28    103       68.571429
2021-12-29     75       67.000000
2021-12-30     73       62.714286
2021-12-31    197       85.714286

[365 rows x 2 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [53]:
arrays = [['A','A','B','B'],['one','two','one','two']]
index = pd.MultiIndex.from_arrays(arrays,names=("Category","Subcategory"))
df = pd.DataFrame(np.random.randint(1,100,size=(4,3)),index=index,columns=['value1','value2','value3'])
print(df)

# performing basic indexing on above dataframe
print("Indexing on category A")
print(df.loc['A'])

print("Slicing at category 'B' and subcategory 'two'")
print(df.loc[('B','two')])

                      value1  value2  value3
Category Subcategory
A        one              21      81      67
         two              44      51      87
B        one              53      48      11
         two              56      79      68
Indexing on category A
             value1  value2  value3
Subcategory
one              21      81      67
two              44      51      87
Slicing at category 'B' and subcategory 'two'
value1    56
value2    79
value3    68
Name: (B, two), dtype: int32

In [56]:
arrays = [['A','A','B','B','C','C'],['one','two','one','two','one','two']]
index = pd.MultiIndex.from_arrays(arrays,names=("Category","Subcategory"))
df = pd.DataFrame(np.random.randint(1,100,size=(6,4)),index=index,columns=['value1','value2','value3','value4'])
print(df)

print("Category wise sum :")
sum_category = df.groupby("Subcategory").sum()
print(sum_category)

                      value1  value2  value3  value4
Category Subcategory
A        one               9       1      13       7
         two              52      70      91      11
B        one              60      77      97      79
         two              20      74      26       8
C        one              76      38      56      29
         two              79      54      58      26
Category wise sum :
             value1  value2  value3  value4
Subcategory
one             145     116     166     115
two             151     198     175      45

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.